<form>
    <div class="mb-3">
      <label for="nrFunc" class="form-label">Función (f(x)):</label>
      <input type="text" class="form-control rounded-3" [(ngModel)]="nrFunc" name="nrFunc" placeholder="Ej: x^2 - 2">
    </div>
    <div class="mb-3">
      <label for="nrDerivFunc" class="form-label">Derivada (f'(x)):</label>
      <input type="text" class="form-control rounded-3" [(ngModel)]="nrDerivFunc" name="nrDerivFunc" placeholder="Ej: 2x">
    </div>
    <div class="mb-3">
      <label for="nrX0" class="form-label">x0:</label>
      <input type="number" class="form-control rounded-3" [(ngModel)]="nrX0" name="nrX0">
    </div>
    <div class="mb-3">
      <label for="nrTol" class="form-label">Tolerancia:</label>
      <input type="text" class="form-control rounded-3" [(ngModel)]="nrTol" name="nrTol">
    </div>
    <div class="mb-3">
      <label for="nrMaxIter" class="form-label">Máximo de iteraciones:</label>
      <input type="number" class="form-control rounded-3" [(ngModel)]="nrMaxIter" name="nrMaxIter">
    </div>
    <button type="button" class="btn btn-dark w-100 rounded-3 mt-2 fw-bold" (click)="calcularNewtonRaphson()">Calcular</button>
  </form>