<form>
    <div class="mb-3">
      <label for="rkFunc" class="form-label">Función (dy/dx):</label>
      <input type="text" class="form-control rounded-3" [(ngModel)]="rkFunc" name="rkFunc" placeholder="Ej: y - x^2 + 1">
    </div>
    <div class="mb-3">
      <label for="rkX0" class="form-label">x0:</label>
      <input type="number" class="form-control rounded-3" [(ngModel)]="rkX0" name="rkX0">
    </div>
    <div class="mb-3">
      <label for="rkY0" class="form-label">y0:</label>
      <input type="number" class="form-control rounded-3" [(ngModel)]="rkY0" name="rkY0">
    </div>
    <div class="mb-3">
      <label for="rkH" class="form-label">h:</label>
      <input type="number" class="form-control rounded-3" [(ngModel)]="rkH" name="rkH">
    </div>
    <div class="mb-3">
      <label for="rkPasos" class="form-label">Pasos:</label>
      <input type="number" class="form-control rounded-3" [(ngModel)]="rkPasos" name="rkPasos">
    </div>
    <button type="button" class="btn btn-dark w-100 rounded-3 mt-2 fw-bold" (click)="calcularRungeKutta()">Calcular</button>
</form>