<!-- MENU PRINCIPAL -->
<div class="container-fluid d-flex justify-content-center align-items-center vh-100" *ngIf="!hiddenButtons">
  <div class="row w-100 justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card p-4 shadow-lg rounded-4" style="max-width: 400px; width: 100%;"> 
        <h5 class="text-center mb-4">Calculadora de métodos numéricos</h5>
        <div id="Contenedor botones">
          <button type="button" class="btn btn-dark w-100 rounded-3 mb-2 fw-bold" (click)="cargarComponente('euler')">Euler mejorado</button>
          <button type="button" class="btn btn-dark w-100 rounded-3 mb-2 fw-bold" (click)="cargarComponente('runge-kutta')">Runge Kutta (4° orden)</button>
          <button type="button" class="btn btn-dark w-100 rounded-3 mb-3 fw-bold" (click)="cargarComponente('newton-raphson')">Newton-Raphson</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- COMPONENTES DINAMICOS -->
<div *ngIf="componenteActual === 'euler'">
  <app-euler-mejorado (returnButtonChange)="returnOption($event)"></app-euler-mejorado>
</div>
<div *ngIf="componenteActual === 'runge-kutta'">
  <app-runge-kutta (returnButtonChange)="returnOption($event)"></app-runge-kutta>
</div>
<div *ngIf="componenteActual === 'newton-raphson'">
  <app-newton-raphson (returnButtonChange)="returnOption($event)"></app-newton-raphson>
</div>

<!-- <div class="footer" *ngIf="!hiddenButtons">
  <p class="fw-bold text-secondary">Iceli 🩵</p>
</div> -->